
/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;

}
header{
  background-color: #0C325A;
  color:white;
}

.allinea{
  width: 80%;
  margin: auto;

}
.row:after{
  content: "";
  display: table;
  clear: both;
}
a{
  text-decoration: none;
  color: white;
  font-size: 10px;
}
a:hover{
  text-decoration: underline;
}

.borderline{
  width: 95%;
  height: 30px;
  margin: auto;
  border-bottom: 1px solid grey;

}

/* regole header */
.navbar{
  height: 140px;


}

.logo{
  width: 140px;
  margin-right: 60px;
  margin-top: 10px;
  vertical-align: bottom;
}
.nav{
  display: inline-block;


}

.act{
  padding-left: 160px;
}
.item{
display: inline-block;
list-style-type: none;
margin-right: 10px;
}

.button{
  display: inline-block;
  font-size:12px;
  text-align: center;
  color:#ffffff;
  border-radius: 4px;
  padding:6px;
}
.login{
  width: 70px;
  border: 1px solid white;

}
/* .piano{
  width: 120px;
  background-color: green;
  border: none;
} */



.jambotron{
  width: 100%;
  height: 400px;
  background:linear-gradient(
        rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 0.0)  ),
        url(img/background-header.png);
  background-size: contain;
  background-position:right;
  background-repeat: no-repeat;
  position: relative;


}

.title{
  width: 30%;
  position: absolute;
  left:140px;
  top: 100px;
  font-size: 38px;


}

.piano{
    background-color:#89c403;
}
.altro{
padding: 15px;
}

/* regole main */

/* -first section */
.greybar{
  width:100%;
  height: 100px;
  /* default */
  background-color: #D3D3D3;
  margin-bottom: 30px;
  text-align: center;

}

.main{
  height: 50%;
  font-size: 18px;
  font-weight: bold;

  padding-top: 25px;
}
.minor{
  height: 50%;
  color: grey;
  font-size: 14px;
  padding-top: 7px;
}
/* -second section */

.column{
  width: calc(100% / 3 - 10px);
  height: 600px;
  float: left;
  /* default */
  background-color: red;
  position: relative;
}

.middle{
  margin:0 15px;
}
.miniconteiner{
  width: 40%;
  height: 80px;
  position: absolute;
  top: 0;
  right: 25%;
  left:25%;

}
.imgup{
  width: 150px;

  ;

}

/* -third section */


.xlcol{
  width: 50%;
  height: 300px;
  width: calc(100% / 2 - 20px);
  float: left;
  /* default */
  background-color: orange;
}
.one{
  margin-right: 20px;
}
.two{
  margin-left: 20px;
}

.foot{
  margin-top: 30px;
}
