
/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;

}
header{
  background-color: #0C325A;
  color:white;
}

.allinea{
  width: 80%;
  margin: auto;

}
.row:after{
  content: "";
  display: table;
  clear: both;
}
a{
  text-decoration: none;
  color: white;
  font-size: 10px;
}
a:hover{
  text-decoration: underline;
}

.borderline{
  width: 95%;
  height: 30px;
  margin: auto;
  border-bottom: 1px solid #D3D3D3;

}

/* regole header */
.navbar{
  height: 140px;


}

.logo{
  width: 140px;
  margin-right: 60px;
  margin-top: 10px;
  vertical-align: bottom;
}
.nav{
  display: inline-block;


}

.act{
  padding-left: 160px;
}
.item{
display: inline-block;
list-style-type: none;
margin-right: 10px;
}

.button{
  display: inline-block;
  font-size:12px;
  text-align: center;
  color:#ffffff;
  border-radius: 4px;
  padding:6px;
}
.login{
  width: 70px;
  border: 1px solid white;

}



.jambotron{
  width: 100%;
  height: 400px;
  background:linear-gradient(
        rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 0.0)  ),
        url(img/background-header.png);
  background-size: contain;
  background-position:right;
  background-repeat: no-repeat;
  position: relative;


}

.title{
  width: 30%;
  position: absolute;
  left:140px;
  top: 100px;
  font-size: 38px;


}

.piano{
    background-color:#89c403;
}
.altro{
padding: 15px;
}

/* regole main */

/* -first section */
.greybar{
  width:100%;
  height: 100px;
  /* default */
  background-color: #D3D3D3;
  margin-bottom: 30px;
  text-align: center;

}

.main{
  height: 50%;
  font-size: 18px;
  font-weight: bold;
  padding-top: 25px;
}
.minor{
  height: 50%;
  color: grey;
  font-size: 14px;
  padding-top: 7px;
}
/* -second section */

.column{
  width: calc(100% / 3 - 10px);
  height: 470px;
  float: left;


  position: relative;
}

.middle{
  margin:0 15px;


}
.miniconteiner{
  width: 40%;
  height: 171px;
  position: absolute;
  top: 0;
  right: 25%;
  left:25%;

}

.left{
  height: 130px;
  background-image: url(img/profile.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 18px;


}
.center{
  width: 47%;
  background-image: url(img/computer.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.right{
  background-image: url(img/doc.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.testocolonna{
  width: 70%;
  margin: auto;
  padding-top: 165px;
  text-align: center;
  color: grey;


}
.greentext{
  color: #7CBB02;
  font-size:18px;
  font-weight: bold;
  padding-bottom: 30px;
  display: block;
}



/* -third section */

.second{
  padding-top: 60px;
}
.xlcol{
  width: 50%;
  height: 350px;
  width: calc(100% / 2 - 20px);
  float: left;

}
.one{
  margin:0 10px;
  background-image: url(img/mountain.svg);
  background-size:contain;
  background-repeat: no-repeat;
}
.two{
  margin:0 10px;
  padding-left: 140px;
  text-align: justify;
  font-size: 20px;
  font-weight: bold;
}
.xltext{
  font-size: 15px;
  font-weight: normal;
  padding-top: 15px;
  text-align: left;
  color: grey;
}
#test{

  text-decoration: underline;
  color: blue;
  font-size: 15px;
  margin-top: 40px;

}

.foot{
  margin-top: 30px;
  height: 150px;
  background-color: #D3D3D3;
}
.foottext{

  width: 60%;
  padding-top: 50px;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}
.form{
  width: 40%;
  color: #808080;
  padding-top: 35px;


}
.foottext, .form{
  float: left;
  height: 150px;
}
.foot:after{
  content: "";
  display: table;
  clear: both;
}
.iam{
  padding-right: 15px;
}
.select{
  width: 150px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #808080;
}
#buttfoot{
  margin-left: 20px;
}
#butthelp{
  margin-left: 290px;
  margin-top: 10px;
}
