
/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;

}
header{
  background-color: #0C325A;
}

.allinea{
  width: 80%;
  margin: auto;

}
.row:after{
  content: "";
  display: table;
  clear: both;
}
a{
  text-decoration: none;
  color: white;
  font-size: 10px;
}
a:hover{
  text-decoration: underline;
}

.borderline{
  width: 95%;
  height: 30px;
  margin: auto;
  border-bottom: 1px solid grey;

}

/* regole header */
.navbar{
  height: 140px;


}

.logo{
  width: 140px;
  margin-right: 60px;
  margin-top: 10px;
  vertical-align: bottom;
}
.nav{
  display: inline-block;


}

.act{
  padding-left: 180px;
}
.item{
display: inline-block;
list-style-type: none;
margin-right: 10px;
}

.button{
 display: inline-block;

  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding:6px;
}
.login{
  width: 70px;

}
.piano{
  width: 120px;
  background-color: green;
  border: none;
}

.jambotron{
  width: 100%;
  height: 400px;
  background:linear-gradient(
        rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 0.0)  ),
        url(img/background-header.png);
  background-size: contain;
  background-position:right;
  background-repeat: no-repeat;
  /* default  */

}


/* regole main */

/* -first section */
.greybar{
  width:100%;
  height: 100px;
  /* default */
  background-color: grey;
  margin-bottom: 30px;
}

/* -second section */

.second{

}
.column{
  width: calc(100% / 3 - 10px);
  height: 200px;
  float: left;
  /* default */
  background-color: red;
}

.middle{
  margin:0 15px;
}

/* -third section */


.xlcol{
  width: 50%;
  height: 300px;
  width: calc(100% / 2 - 20px);
  float: left;
  /* default */
  background-color: orange;
}
.one{
  margin-right: 20px;
}
.two{
  margin-left: 20px;
}

.foot{
  margin-top: 30px;
}
